.img-thumbnail {
	width: 300px; 
    height: 200px;
}

.content {
	margin-bottom: 100px;
	margin-top: 100px;
}

body {
	background-color: #000;
	background-image: url("../img/bg_main.jpg");
	background-size: cover;
	background-position: top center;
}


a:link { 
	color:#3C3C3C; 
	text-decoration:none; 
} 
a:visited { 
	color:yellow; 
	text-decoration:none; 
} 
a:hover { 
	color:#FF00FF; 
	text-decoration:none; 
}
a:active { 
	color:#D200D2; 
	text-decoration:none; 
}  

.col-md-6, .col-sm-6{
	text-align: center;
}



