body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1935px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:462px;
  top:206px;
  width:661px;
  height:788px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:788px;
}
#u1 {
  position:absolute;
  left:2px;
  top:386px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:158px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:158px;
}
#u3 {
  position:absolute;
  left:2px;
  top:71px;
  width:1899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1140px;
  top:10px;
  width:45px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:1185px;
  top:10px;
  width:35px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:370px;
  top:70px;
  width:170px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:0px;
  top:158px;
  width:1935px;
  height:1752px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1935px;
  height:1752px;
}
#u8 {
  position:absolute;
  left:2px;
  top:868px;
  width:1931px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:371px;
  top:290px;
  width:655px;
  height:215px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:215px;
}
#u10 {
  position:absolute;
  left:2px;
  top:100px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:397px;
  top:310px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:397px;
  top:350px;
  width:615px;
  height:95px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:95px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:420px;
  top:462px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFA100;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:520px;
  top:462px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFA100;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:397px;
  top:460px;
  width:23px;
  height:17px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:499px;
  top:460px;
  width:21px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1127px;
  top:290px;
  width:323px;
  height:250px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:250px;
}
#u23 {
  position:absolute;
  left:2px;
  top:117px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:371px;
  top:560px;
  width:655px;
  height:660px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:660px;
}
#u25 {
  position:absolute;
  left:2px;
  top:322px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:397px;
  top:588px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:403px;
  top:631px;
  width:146px;
  height:29px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:29px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:407px;
  top:680px;
  width:585px;
  height:50px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30_input:disabled {
  color:grayText;
}
#u31 {
  position:absolute;
  left:407px;
  top:770px;
  width:75px;
  height:16px;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:407px;
  top:795px;
  width:150px;
  height:40px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:407px;
  top:866px;
  width:96px;
  height:24px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:449px;
  top:930px;
  width:108px;
  height:36px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:449px;
  top:966px;
  width:108px;
  height:29px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:29px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:446px;
  top:996px;
  width:110px;
  height:29px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:29px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:415px;
  top:933px;
  width:28px;
  height:28px;
  overflow:hidden;
}
#u42_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:407px;
  top:930px;
  width:166px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:415px;
  top:966px;
  width:28px;
  height:28px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:415px;
  top:997px;
  width:28px;
  height:28px;
  overflow:hidden;
}
#u57_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u57_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u57_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:407px;
  top:966px;
  width:166px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:407px;
  top:994px;
  width:166px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:407px;
  top:1050px;
  width:585px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:568px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:585px;
  height:1px;
}
#u67 {
  position:absolute;
  left:407px;
  top:1080px;
  width:117px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:416px;
  top:1120px;
  width:100px;
  height:16px;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  position:absolute;
  left:407px;
  top:1154px;
  width:115px;
  height:36px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:371px;
  top:1252px;
  width:660px;
  height:268px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:268px;
}
#u74 {
  position:absolute;
  left:2px;
  top:126px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:658px;
  top:1623px;
  width:588px;
  height:177px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:177px;
}
#u76 {
  position:absolute;
  left:2px;
  top:80px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:397px;
  top:455px;
  width:92px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:1060px;
  top:220px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
